<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <ul id="messages">
        <li *ngIf="enteredChat" class="text-center text-bg-success"> You have entered chat! </li>
        <li *ngFor="let msg of msgHistory">{{msg}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mb-3 fixed-bottom">
  <form (ngSubmit)="sendText()" [formGroup]="textForm">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="textField">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>